.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  place-items: center;
  padding: 80px 0px;

}
 @media (max-width: 768px) {
   .hero-container {
     grid-template-columns: 1fr;
     gap: 40px;
   }
   
   .hero-container {
     grid-template-areas:
       "image"
       "content";
   }
   
   .hero-content {
     grid-area: content;
   }
   
   .hero-image {
     grid-area: image;
     
   }
 }
.hero-heading {
font-size: clamp(24px, 4.13vw, 60px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


