.main {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.links-container{
    display: flex;
    gap: 40px;
    justify-items: center;
    align-items: center;
    list-style: none; 
    font-size: 20px;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 400;
    
}
.links{
    display: flex;
    gap: 40px;
    list-style: none;
    text-decoration: none;
}
.links li {
    position: relative;
}

.links li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.links li a:hover {
    color: #555;
}

.links li a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .links-container {
        display: none;
    }

    .toggle-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}

.toggle-icon {
    display: none;
}

/* Styles for when the menu is open */
.links-container.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.links-container.open .links {
    flex-direction: column;
    gap: 20px;
}


